.logo{
        width: 1600px;
        height: 100px;
        border-radius: 15px 15px 15px 15px;
}
body{
        background-color: rgb(177, 191, 233);
}
.name{
        font-size: 40px;
        color: blue;
}
.main{
        display: flex;
        flex-direction: column;
}
.person{
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 15px 15px 15px 15px;
        top: 15px;
        right: 200px;
}
.sinput{
        position: relative;
        bottom: 100px;
        left: 25px;
        font-size: 19px;
}
.minput{
       position: relative;
       bottom: 100px;
       left: 30px;
       font-size: 19px;
}
.input-field {
        position: relative;
        margin-top: 65px;
        margin-bottom: 25px;
        padding: 10px;
        font-size: 16px;
        height: 10px;
        border-radius: 10px;
        left: 100px;
}
.input-field2 {
        position: relative;
        margin-top: -5px;
        margin-bottom: 25px;
        padding: 10px;
        font-size: 16px;
        height: 10px;
        margin-right: 50px;
        border-radius: 10px;
        left: 100px;
}
.person2 {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 15px 15px 15px 15px;
        right: 200px;
        bottom: 125px;
}
.input-field3 {
        position: relative;
        bottom: 35px;
        padding: 10px;
        font-size: 16px;
        height: 10px;
        border-radius: 10px;
        left: 105px;
}
.person3 {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 15px 15px 15px 15px;
        right: 85px;
        bottom: 75px;
}
.ginput{
        position: relative;
        bottom: 170px;
        left: 30px;
        font-size: 19px;
}
.input-field4 {
        position: relative;
        bottom: 100px;
        padding: 10px;
        font-size: 16px;
        height: 10px;
        border-radius: 10px;
        left: 100px;
}
.phone{
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 15px 15px 15px 15px;
        right: 205px;
        bottom: 85px;

}
.pinput {
        position: relative;
        bottom: 180px;
        left: 40px;
        font-size: 19px;
        
}
.NEXT{
        height: 50px;
        width: 100px;
        border-radius: 15px;
        background-color: blue;
        position: relative;
        left: 800px;
        bottom: 95px;
        text-decoration: none;
}